<%= form_tag "/login" do %>
   <div>
     <table class="login_form">
       <tr>
         <td class="login_form_field_name">Name:</td>
         <td></td>
         <td> <%= text_field_tag :email, params[:email], :class => "login_field" %> </td>
       </tr>

     <tr>
       <td class="login_form_field_name">Password:</td>
       <td></td>
       <td>

            <%= password_field_tag :password, params[:password], :class => "login_field" %>
      </td>
       </tr>
       <tr><td></td><td></td><td> <%= submit_tag "Log In", class: 'btn btn-primary' %> </td></tr>
     </table>
  </div>
<% end %>