<p> Welcome back <%= session[:current_user] %></p>

<h2>Decks:</h2>
<ul id="card_deck_list">
      <% @user.card_decks.each do |card_deck| %>
          <li class="card_deck_face">
            <span class="card_deck_face_title"><%=  link_to card_deck.name, card_deck %></span>
            <span class="card_deck_face_description"><%=  card_deck.description %></span>
          </li>
      <% end %>
</ul>
<div class="card_deck_face">
  <%= link_to "New deck", new_card_deck_path() %>
</div>
</ul>