<% if current_user %>
<div id="content_box">
  <p style="margin-top: 2em;">Logged in. <%= link_to 'View Your Card Decks', '/home' %>.</p> 
</div>
<% else %>
  <p style="margin-top: 2em;">Flash card review thing. IT'S TO THE LIMIT. 
  Now please log in.</p>
<% end %>

<h3>Public Decks</h3>
<ul>
<% @public_decks.each do | card_deck | %>
  <li><%= link_to card_deck.name, card_deck %>
   <%= card_deck.description %>
  </li>
<% end %>
</ul>