<div id="content_box">
  <% unless session[:current_user] %>
      <div class="provider_box btn">
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      </div>
      <div class="provider_box btn">
        <%= link_to "Sign in with Github", "/auth/github" %>
      </div>
  <% else %>
      # show stuff

      <%=  link_to 'Home', '/home' %>
<% end %>
</div>
