<div class="row cardinfo">
  <div class="span4 offset2 folder">
    <h1>Editing <%=h @card.card_deck.name %></h1>
  </div>
</div>
<div class="row">
  <div class="span8 offset2 card card_edit ">
    <%= render 'form' %>
  </div>
</div>