@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200);

@import "sticky_footer";
@import "footer_style";
@import "reviews";
@import "card_decks";

body {
  background: white image-url('color-splat.jpg') no-repeat top center;
}

#main {
  padding-top: 53px;
}

h1 {
  font-family: "Titillium Web", Helvetica, Arial, sans;
  font-weight: 400;
}

.navbar .brand {
  font-family: "Titillium Web", Helvetica, Arial, sans;
  font-weight: 200;
  font-size: 200%;
  img {
    vertical-align: -5px;
  }
}


.provider_box {
    float:left;
    height:100px;
    width:100px;
    border: 1px solid #2c2c29;
    padding: 15px;
    font-weight:800;
}
.direct_login_box {
  float:left;
  height:100px;
  width:250px;
  border: 1px solid #2c2c29;
  padding: 15px;
}
.clear {
    clear: both;
}


.login_field {
  width: 150px;

}
.login_form_field_name {
  text-align: left;
}
.box_field_name {
  width: 50px;
}

.login_form {
  border: 0px solid #000;

}