.deck {
  margin-top: 42px;

  .card {
    .card_options {
      a:link {
        float: right;
      }
    }    
    .card_face {
      clear: both;

      &.front {
        &:before {
          content: 'Q:';
        }
      }
      &.back {
        color: #004;
        display: none;
        &:before {
          content: 'A:';
        }
      }
    }
  }
}
.card_deck_privacy_status {
    font-size: small;
    font-weight: bold;
}
.private_deck {
    color: red;
}
.public_deck {
    color: green;
}