.cardinfo {
  margin-top: 20px;
  .folder h1 {
    border-radius: 8px;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    color: black;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: -10px;
    display: inline-block;
  }
  .navinfo {
    padding-top: 20px;
    vertical-align: bottom;
    text-align: right;
  }
}
.card {
  background: rgb(253, 253, 243) image-url('card-background.png');
  text-align: center;
  box-shadow: 0px 4px 10px 5px #ccc;

  input[type='text'] {
    font-size: 2em;
    height: 2em;
    font-family: "Marker Felt", "Lucida Handwriting", "Comic Sans", sans;
  }

  .answer {
    font-size: 1.5em;

    &.my{
      font-family: "Marker Felt", "Lucida Handwriting", "Comic Sans", sans;
    }
  }

  .alert {
    border-radius: 0;
    padding: 8px 0;
    margin: auto -4px 20px -4px;
    box-shadow: 0px 2px 5px 0px #ccc;
  }
}